<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEV VIEW</title>
</head>

<body>
    <style>
        body {
            background-color: rgb(35, 34, 34);
            color: #38c552;
            font-family: Helvetica, sans-serif;
        }
    </style>

    <terminal-prompt text-array='[
        "Hej! Vad vill du göra?",
        "Skriv A, B eller C:"
    ]' input-steps='{
        "1": {
            "A": "Du valde A – bra val!",
            "B": "Du valde B – nice!",
            "C": "Du valde C – coolt!"
        }
    }'></terminal-prompt>


    <script type="module" src="dev.js"></script>
</body>

</html>